<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <file>out.log</file>
        <append>false</append>
    </appender>

    <springProfile name="devel">
        <root level="WARN">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>


    <springProfile name="test,prod">
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>

        <!-- Urovne logovani: -->
        <!-- ERROR, WARN, INFO, DEBUG, or TRACE. -->